#copyright.docs-footer.container.grid-lg
  p
    | Designed and built with 
    span.text-error &hearts;
    |  by 
    a(href='https://twitter.com/picturepan2' target='_blank') Yan Zhu. 
    | Forked and modified by 
    a(href='https://github.com/byshine' target='_blank') Aaron Ahn
    |  for 
    a(href="https://cortico.ca") Cortico
    | . Licensed under the 
    a(href='https://github.com/picturepan2/spectre/blob/master/LICENSE' target='_blank') MIT License
    | .