// Buttons
a.btn {
  line-height: 2rem;
}
a.btn:hover {
  color: white;
}
a.btn:visited {
  color: white;
}
.btn {

  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  height: 45px;  appearance: none;
  background: $button-standard;
  border: $border-width solid $button-standard-hover;
  border-radius: $border-radius;
  color: white;
  cursor: pointer;
  display: inline-block;
  height: $control-size;
  font-size: $font-size;
  line-height: $line-height;
  outline: none;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: background .2s, border .2s, box-shadow .2s, color .2s;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  &:focus {
    @include control-shadow();
  }
  &:focus,
  &:hover {
    background: $button-standard-hover;
    border-color: $button-standard-hover;
    text-decoration: none;
  }
  &:active,
  &.active {
    background: $button-standard;
    border-color: darken($button-standard-hover, 5%);
    color: $light-color;
    text-decoration: none;
    &.loading {
      &::after {
        border-bottom-color: $light-color;
        border-left-color: $light-color;
      }
    }
  }
  &[disabled],
  &:disabled,
  &.disabled {
    background-color: #F5F5F9 !important;
    cursor: default !important;
    pointer-events: none !important;
    color: #B0B3C9 !important;
    border: 0 !important;
  }

  &.btn-compact {
    height: 32px;
    font-size: 14px;
  }

  // Button Primary
  &.btn-primary {
    background: $button-primary;
    border-color: $button-primary;
    color: $light-color;
    &:focus,
    &:hover {
      background: $button-primary-hover;
      border-color: darken($primary-color-dark, 5%);
      color: $light-color;
    }
    &:active,
    &.active {
      background: $button-primary;
      border-color: darken($primary-color-dark, 7%);
      color: $light-color;
    }
    &.loading {
      &::after {
        border-bottom-color: $light-color;
        border-left-color: $light-color;
      }
    }
  }

  // Button Colors
  &.btn-success {
    background-color: white;
    color: $button-success;
    border: 1px solid #EAE9F3;

    &:hover {
      border: 1px solid $button-success;
    }

    &:active {
      border: 1px solid #EAE9F3;
    }
  }

  &.btn-error {
    background-color: white;
    color: $button-error;
    border: 1px solid #EAE9F3;

    &:hover {
      border: 1px solid $button-error;
    }

    &:active {
      border: 1px solid #EAE9F3;
    }
  }

  &.btn-info {
    background-color: white;
    color: $button-info;
    border: 1px solid #EAE9F3;

    &:hover {
      border: 1px solid $button-info;
    }

    &:active {
      border: 1px solid #EAE9F3;
    }

  }

  // Button Link
  &.btn-link {
    background: transparent;
    border-color: transparent;
    color: $link-color;
    &:focus,
    &:hover,
    &:active,
    &.active {
      color: $link-color-dark;
    }
  }


  // Button Block
  &.btn-block {
    display: block;
    width: 100%;
  }

  // Button Action
  &.btn-action {
    width: $control-size;
    padding-left: 0;
    padding-right: 0;

    &.btn-sm {
      width: $control-size-sm;
    }

    &.btn-lg {
      width: $control-size-lg;
      height: 2rem;
    }
  }

  // Button Clear
  &.btn-clear {
    background: transparent;
    border: 0;
    color: currentColor;
    height: $unit-5;
    line-height: $unit-4;
    margin-left: $unit-1;
    margin-right: -2px;
    opacity: 1;
    padding: $unit-h;
    text-decoration: none;
    width: $unit-5;

    &:focus,
    &:hover {
      background: rgba($bg-color, .5);
      opacity: .95;
    }

    &::before {
      content: "\2715";
    }
  }
}

// Button groups
.btn-group {
  display: inline-flex;
  flex-wrap: wrap;

  .btn {
    flex: 1 0 auto;
    &:first-child:not(:last-child) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
      margin-left: -$border-width;
    }
    &:last-child:not(:first-child) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      margin-left: -$border-width;
    }
    &:focus,
    &:hover,
    &:active,
    &.active {
      z-index: $zindex-0;
    }
  }

  &.btn-group-block {
    display: flex;

    .btn {
      flex: 1 0 0;
    }
  }
}
